{% extends "layout.html" %}

{% block main %}
    <div class="add-banner">
        <h1>Add new spending</h1>
        <p>Add new todo with name, amount and category.</p>
    </div>
    <div class="formular">
        <form action="/add_spending" method="post">
            <div class="form-name">
                <label for="name">Name of spending:</label><br>
                <input autocomplete="off" autofocus class="form-control w-auto" id="name" name="name" placeholder="Spending" type="text">
            </div>
            <div class="form-amount">
                <label for="name">Amount:</label><br>
                <input autocomplete="off" class="form-control w-auto" id="amount" name="amount" placeholder="Amount (xx.xx)" type="text">
            </div>
            <div class="form-category">
                <label for="name">Choose category:</label><br>
                <select name="category">
                    <option disabled selected value="">Category</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="button-add">
                <button type="submit">Add new spending</button>
            </div>
        </form>
    </div>
{% endblock %}