{% extends "layout.html" %}

{% block main %}
    <h2>Create account</h2>
    <div class="formular-login">
        <form action="/register" method="post">
            <div class="login-name">
                <label for="name">Enter first name:</label><br>
                <input autocomplete="off" autofocus class="form-control w-auto" id="name" name="name" placeholder="Name" type="text">
            </div>
            <div class="login-name">
                <label for="name">Enter username:</label><br>
                <input autocomplete="off" class="form-control w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="login-pw">
                <label for="name">Enter password:</label><br>
                <input class="form-control w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="login-pw">
                <label for="name">Confirm password:</label><br>
                <input class="form-control w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
            </div>
            <div class="button-login">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock %}