{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for purchase in purchases.values() %}
                    <tr>
                        <td>{{ purchase.symbol }}</td>
                        <td>{{ purchase.name }}</td>
                        <td>{{ purchase.shares }}</td>
                        <td>{{ purchase.price  | usd }}</td>
                        <td>{{ purchase.total | usd }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        Cash {{ cash | usd }}<br>
        TOTAL {{ total | usd }}

{% endblock %}