{% extends "layout.html"%}

{% block main %}
    <div class="greeting">
        <h1>Hello, {{ name }}</h1>
        <p>Ready to start your day?</p>
    </div>
    <div class="index_content">
        <div class="first">
            <div class="basic-information">
                <h4>Today</h4>
                <p>Some information about today.</p>
                <hr>
                <p><span style='color:#AEA3B0;'>{{ weekday }}</span>, {{ date }}</p>
                <p>Temperature in Ölbronn-Dürrn: {{ temp }}°</p>
            </div>
            <div class="todos">
                <h4>Todos</h4>
                <p>Three todos with highest priority.</p>
                <hr>
                <table>
                    <tbody>
                    {% for todo in todos %}
                            <tr>
                                <td width="300px">{{ todo["name"] }}</td>
                                {% if todo["status"] == "Todo" %}
                                    <td width="130px"><span class="badge rounded-pill s-todo">{{ todo["status"] }}</span></td>
                                {% elif todo["status"] == "In progress" %}
                                    <td width="130px"><span class="badge rounded-pill s-progress">{{ todo["status"] }}</span></td>
                                {% else %}
                                    <td width="130px"><span class="badge rounded-pill s-done">{{ todo["status"] }}</span></td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="button-todos">
                    <button type="button"><a href="/todos">View todos</a></button>
                </div>
            </div>
        </div>
        <div class="spendings">
            <h4>Spendings</h4>
            <p>Your spendings this month.</p>
            <hr>
            <div>
                <div id="piechart_3d" style="width: 500px; height: 300px;"></div>
            </div>
            <p><b>Total</b>: {{ total }}€</p>
            <div class="button-spendings">
                <button type="button"><a href="/spendings">View spendings</a></button>
            </div>
        </div>
    </div>
    <!-- Code from https://roytuts.com/google-pie-chart-using-python-flask/ -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load("current", {packages:["corechart"]});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
			    {% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			    {% endfor %}
                 ]);

                var options = {
                    backgroundColor: '#f8f9fa',
                    width: '200px',
                    pieHole: 0.5,
                    colors: ['#E7E6F7', '#E3D0D8', '#AEA3B0', '#827081', '#C6D2ED'],
                    pieSliceText: 'value',
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
                }
        </script>
{% endblock%}
